*{
    font-family: 'Kumbh Sans', sans-serif;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;

}
body{
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-size: 200% 200%;
    margin: 0;
    padding: 0;


}
h1{
    text-align: center;
}
h2{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;

}
.container{
    background-color: #fff;
    margin: 10rem 1rem 0;
    border-radius: 20px;
    padding-bottom: 1rem;
}
.illustration-mobile{
    width: 70%;
    position: absolute;
    margin-top: 2rem;
    top: .1rem;
    left: 4rem;
}
.illustration-desktop{
    display: none;
}
.bg-shadow-mobile{
    position: relative;
    width: 75%;
    left: 3rem
}
.bg-shadow-desktop{
    display: none;
}
.faq-content{
    padding: 0 1.5rem 1.5rem;
}
.question{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: pointer;
}
.question:hover{
    color: hsl(14, 88%, 65%);
}

.no-border{
    border-bottom: none;
}

.answer{
    display: none;
    color:hsl(240, 6%, 50%);
    border-bottom: 1px solid hsl(240, 5%, 91%);
}
p{
    margin-top: 0;
    padding-top: 0;
}

button{
    background: none;
    border: none;
    padding-bottom: 10px;
    cursor: pointer;

}

/* .show-answer{
    display: block;
} */

.upsideDown{
    transform: rotate(180deg);
    transition: .3s ease-in-out;
    padding-top: 20px;
    padding: 0;
}
.question-bold{
    font-weight: 700;
}

.box-desktop{
    display: none;
}

@media screen and (min-width:800px) {
    h1{
        text-align: left;
        padding-top: 4rem;
    }
    .container{
        width: 64%;
        margin: 8rem 0 0 17.5rem;
        padding-bottom: 2rem;
        
    }
    .illustration-mobile{
        display: none;
    }
    .illustration-desktop{
        display: block;
        position: absolute;
        width: 33%;
        top:12.2rem;
        left: 12rem;
        overflow:hidden;
        margin-left: 5.4rem;
        object-position: -90px;
    }
    .bg-shadow-mobile{
        display: none;
    }
    .bg-shadow-desktop{
        display: block;
        position: absolute;
        width: 40%;
        top: 12%;
        left: 8%;

    }
    .faq-content{
        margin-left: 49%;
    }
    .box-desktop{
        display: block;
        position: absolute;
        left: 13%;
        top: 48%;

    }
    .question{
        padding-top: .3rem;
        margin-right: 5.2rem;
    }

    .answer{
        font-size: 12px;
        margin-right: 4.5rem;
    }

    p{
        margin-top: -1rem;
        line-height: 1.5;
        padding-bottom: .2rem;
    }

}